{% extends 'base.html.twig' %}

{% block title %}Doctor{% endblock %}

{% block body %}
    <h1>Doctor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ doctor.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ doctor.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ doctor.apellidos }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ doctor.telefono }}</td>
            </tr>
            <tr>
                <th>Especialidad</th>
                <td>{{ doctor.especialidad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_doctor_index') }}">back to list</a>

    <a href="{{ path('app_doctor_edit', {'id': doctor.id}) }}">edit</a>

    {{ include('doctor/_delete_form.html.twig') }}
{% endblock %}
